<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>manual_res_post_build</string>
	<key>CFBundleGetInfoString</key>
	<string>Unity Player version 5.0.0b12 (0ec33dc8d79a). (c) 2014 Unity Technologies ApS. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>PlayerIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>unity.DefaultCompany.New Unity Project 42</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>manual_res_post_build</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Unity Player version 5.0.0b12</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.0.0b12</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>PlayerApplication</string>
	<key>UnityBuildNumber</key>
	<string>0ec33dc8d79a</string>
</dict>
</plist>
